body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Spiegel", sans-serif;
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('../assets/fonts/BeaufortforLOL-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spiegel';
  src: url('../assets/fonts/spiegel.ttf') format('truetype');
}

h1 {
  color: #ffffff;
  font-family: "Beaufort for LOL";
  font-size: 5.6em;
}

div.header {
  position: relative;
  z-index: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img.silver-icon {
  position: absolute;
  width: 20%;
  opacity: 0.5;
  z-index: -1;
}


img.pfp {
  width: 64px;
  height: 64px;
  border-radius: 5%;
  margin: 0px;
}

.flexbox-container {
  display: flex;
  gap: 120px;
  max-width: 1200px;
  margin: auto;
}

.flexbox {
  flex: 1;
  background: black;
  padding: 20px;
  border-radius: 8px;
  border: 0px solid #ffffff;
}

.username-left {
  display: inline-block;
  vertical-align: top;  
  margin-left: 10px;
  margin-top: 10px;
  font-size: 2em;
  font-family: "Beaufort for LOL";
}

.username-right {
  display: inline-block;
  vertical-align: top;  
  margin-right: 10px;
  margin-top: 10px;
  font-size: 2em;
  font-family: "Beaufort for LOL";
}

.rank-container-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.rank-container-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

img.rank-icon {
  position: relative;
  width: 10%;
}

.rank {
  margin-top: 5px;
  font-family: "Spiegel", sans-serif;
  font-size: 1.6em;
}

.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin: 0px;
}


.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}